<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar | Eid al-Adha </title>
    <meta charset="UTF-8" />
    <meta name="description" content="Calendar Website" />
    <meta name="keywords" content="Calendar, June" />
    <meta name="author" content="Kenzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/jpg" href="/img/calendar.jpg" />
    <link rel="stylesheet" href="/styles/style.css" />
    
</head>
<body>
    <a href="/calendar/june" class="backBtn">🔙</a><br /><br />
    <a href="/calendar" class="homeIcon">🏠</a>
    <div class="imgContainer">  
        <a href="https://www.muslimaid.org/media-centre/blog/what-is-eid-ul-adha/" target="_none">
            <img src="/img/h15_eidAlAdha.png" alt="Eid al-Adha Picture"
            title="Eid al-Adha" class="image"/>
        </a>
    </div>

    <h1 class="imageTitle">Eid al-Adha &#40Feast of the Sacrifice&#41</h1>
                            <!-- HTML Entities-->
    <h2 class="imageDate">&#40June 7, 2025&#41</h2>

    <p class="holidayDefinition">The day of Eid-ul-Adha falls on the tenth day in the final (twelfth) month 
        of the Islamic Lunar Calendar; Dhu-al-Hijjah. The day that celebrations fall on is dependent on a 
        legitimate sighting of the moon, following the completion of the annual Holy Pilgrimage of Hajj -  
        which is an obligation for all Muslim&apos;s who fit specific criteria, one of the important Five 
        Pillars of Islam.</p>
    <br /><br /><br />
    <p class="holidayDefinition">Want more information? 
        <a href="https://www.muslimaid.org/media-centre/blog/what-is-eid-ul-adha/" class="linkButton" 
        target="_none">Click here!</a>
    </p>
</body>
</html>