<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar | Eid al-Adha Day 2</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Calendar Website" />
    <meta name="keywords" content="Calendar, June" />
    <meta name="author" content="Kenzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/jpg" href="/img/calendar.jpg" />
    <link rel="stylesheet" href="/styles/style.css" />
    
</head>
<body>
    <a href="/calendar/june" class="backBtn">🔙</a><br /><br />
    <a href="/calendar" class="homeIcon">🏠</a>
    <div class="imgContainer">  
        <a href="https://www.muslimaid.org/media-centre/blog/what-is-eid-ul-adha/" target="_none">
            <img src="/img/h16_eidAlAdhaDay2.png" alt="Eid al-Adha Picture"
            title="Eid al-Adha" class="image"/>
        </a>
    </div>

    <h1 class="imageTitle">Eid al-Adha Day 2</h1>
                            <!-- HTML Entities-->
    <h2 class="imageDate">&#40June 8, 2025&#41</h2>

    <p class="holidayDefinition">The celebration of Eid-ul-Adha is to commemorate Prophet Ibrahim&apos;s 
        devotion to Allah SWT and his readiness to sacrifice his son, Ismail. At the very point of sacrifice, 
        Allah SWT replaced Ismail with a ram, which was to be slaughtered in place of his son. This command 
        from Allah SWT was a test of Prophet Ibrahim&apos;s willingness and commitment to obey his Lord&apos;s 
        command, without question. Therefore, Eid-ul-Adha means the festival of sacrifice.</p>
    <br /><br /><br />
    <p class="holidayDefinition">Want more information? 
        <a href="https://www.muslimaid.org/media-centre/blog/what-is-eid-ul-adha/" class="linkButton" 
        target="_none">Click here!</a>
    </p>
</body>
</html>