<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar | All Souls' Day </title>
    <meta charset="UTF-8" />
    <meta name="description" content="Calendar Website" />
    <meta name="keywords" content="Calendar, November" />
    <meta name="author" content="Kenzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/jpg" href="/img/calendar.jpg" />
    <link rel="stylesheet" href="/styles/style.css" />
    
</head>
<body>
    <a href="/calendar/november" class="backBtn">🔙</a><br /><br />
    <a href="/calendar" class="homeIcon">🏠</a>
    <div class="imgContainer">  
        <a href="https://www.britannica.com/topic/All-Souls-Day-Christianity" target="_none">
            <img src="/img/h27_allSoulsDay.png" alt="All Souls' Day Picture" 
            title="All Souls' Day" class="image"/>
        </a>
    </div>

    <h1 class="imageTitle">All Souls' Day</h1>
                            <!-- HTML Entities-->
    <h2 class="imageDate">&#40November 2, 2025&#41</h2>

    <p class="holidayDefinition">All Souls&apos; Day, in Roman Catholicism, a day for 
        commemoration of all the faithful departed, those baptized Christians who are 
        believed to be in purgatory because they died with the guilt of lesser sins on 
        their souls. It is observed on November 2. Roman Catholic doctrine holds that 
        the prayers of the faithful on earth will help cleanse these souls in order to 
        fit them for the vision of God in heaven, and the day is dedicated to prayer and 
        remembrance. Requiem masses are commonly held, and many people visit and sometimes 
        decorate the graves of loved ones. It is part of the three-day triduum dedicated to 
        remembering the dead, beginning with Halloween (October 31) and followed by All 
        Saints&apos; Day (November 1) and All Souls&apos; Day (November 2).</p>
    <br /><br /><br />
    <p class="holidayDefinition">Want more information? 
        <a href="https://www.britannica.com/topic/All-Souls-Day-Christianity" class="linkButton" target="_none">Click here!</a>
    </p>
</body>
</html>