<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar | Feast of the Immaculate Conception </title>
    <meta charset="UTF-8" />
    <meta name="description" content="Calendar Website" />
    <meta name="keywords" content="Calendar, December" />
    <meta name="author" content="Kenzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/jpg" href="/img/calendar.jpg" />
    <link rel="stylesheet" href="/styles/style.css" />
    
</head>
<body>
    <a href="/calendar/december" class="backBtn">🔙</a><br /><br />
    <a href="/calendar" class="homeIcon">🏠</a>
    <div class="imgContainer">  
        <a href="https://www.britannica.com/topic/Immaculate-Conception-Roman-Catholicism" target="_none">
            <img src="/img/h29_feastOfTheImmaculateConception.png" alt="Feast of the Immaculate Conception Picture" 
            title="Feast of the Immaculate Conception" class="image"/>
        </a>
    </div>

    <h1 class="imageTitle">Feast of the Immaculate Conception</h1>
                            <!-- HTML Entities-->
    <h2 class="imageDate">&#40December 8, 2025&#41</h2>

    <p class="holidayDefinition">Immaculate Conception, Roman Catholic dogma asserting that Mary, the mother 
        of Jesus, was preserved free from the effects of the sin of Adam (usually referred to as “original sin”) 
        from the first instant of her conception. Although various texts in both the Old and the New Testaments 
        have been cited in defense of the doctrine, it seems to have arisen from a general acceptance in the 
        early church of Mary&apos;s holiness. Especially after Mary had been solemnly declared to be the mother 
        of God at the Council of Ephesus in 431, most theologians doubted that one who had been so close to God 
        could have actually experienced sinful acts.</p>
    <br /><br /><br />
    <p class="holidayDefinition">Want more information? 
        <a href="https://www.britannica.com/topic/Immaculate-Conception-Roman-Catholicism" 
        class="linkButton" target="_none">Click here!</a>
    </p>
</body>
</html>