<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar | People Power Anniversary</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Calendar Website" />
    <meta name="keywords" content="Calendar, February" />
    <meta name="author" content="Kenzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta http-equiv="refresh" content="60" /-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/jpg" href="/img/calendar.jpg" />
    <link rel="stylesheet" href="/styles/style.css" />
    
</head>
<body>
    <a href="/calendar/february" class="backBtn">🔙</a><br /><br />
    <a href="/calendar" class="homeIcon">🏠</a>
    <div class="imgContainer">  
        <a href="https://www.timeanddate.com/holidays/philippines/people-power-anniversary" target="_none">
            <img src="/img/h5_peoplePowerAnniversary.png" alt="People Power Anniversary Picture"
            title="People Power Anniversary" class="image"/>
        </a>
    </div>

    <h1 class="imageTitle">People Power Anniversary</h1>
                            <!-- HTML Entities-->
    <h2 class="imageDate">&#40February 25, 2025&#41</h2>

    <p class="holidayDefinition">Many people celebrate People Power Anniversary by wearing yellow, 
        which was the official color of the LABAN party, the rival political group that challenged 
        the government back in 1986. Much of the festivities and activities occur in the city of Manila, 
        particularly Epifanio Delos Santos Avenue (EDSA), a major public road where people flock to visit. 
        Activities include programs such as church masses and concerts.</p>
    <br /><br /><br />
    <p class="holidayDefinition">Want more information? 
        <a href="https://www.timeanddate.com/holidays/philippines/people-power-anniversary" class="linkButton" 
        target="_none">Click here!</a>
    </p>
</body>
</html>